


<!doctype html>
<html lang="en">
  <head>

    <link rel="icon" href="https://media.istockphoto.com/photos/wood-font-plank-font-letter-a-picture-id844485246?s=612x612">



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Profile</title>

  </head>
  <body>

<div class="alert alert-primary" role="alert">
{{email}}
</div>

<a href="/logout" type="button" class="btn btn-success">LogOut</a>


<form style="width:60%;margin-bottom:50px;margin-top:20px;" action="/profile" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter Title" name="email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Content" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>


<!--Table-->


{% if data|length!=0 %}
<table class="table" style="margin-top: 50px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">sno</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>

  {% for i in range(0,data|length) %}  <!--Main Loop for printing data-->

  {%if data[i].id==email %}

   <tbody>
    <tr>

      <th scope="row">{{loop.index}}</th>
      <td>{{data[i].email}}</td>
      <td>{{data[i].password}}
      </td>
      <td><a href="/update/{{data[i].sno}}" type="button" class="btn btn-danger">Update</a>
        <a href="/delete/{{data[i].sno}}" type="button" class="btn btn-danger">Delete</a>
      </td>
    </tr>

    </tbody>
{% endif %}
    {% endfor %}

</table>

{% endif %}



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{data[i].email}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">{{data[i].password}}</p>
    <a href="/update/{{data[i].sno}}" type="button" class="btn btn-danger">Update</a>
    <a href="/delete/{{data[i].sno}}" type="button" class="btn btn-danger">Delete</a>
  </div>
</div>















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>






