{% extends 'base.html'%}
{% block title %}
Home{% endblock %}


      {%block css%}
body{background-color:white;
}
{% endblock %}

{% block content %}

<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
  <!--</ol>-->
  <!--<div class="carousel-inner">-->
    <!--<div class="carousel-item active">-->
      <!--<img class="d-block w-100" src="/static/C.PNG" alt="First slide">-->
    <!--</div>-->
    <!--<div class="carousel-item">-->
      <!--<img class="d-block w-100" src="/static/B.PNG" alt="Second slide">-->
    <!--</div>-->
    <!--<div class="carousel-item">-->
      <!--<img class="d-block w-100" src="/static/A.PNG" alt="Third slide">-->
    <!--</div>-->
  <!--</div>-->
  <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
    <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
    <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
<!--</div>-->

<br><br><br>
<h3 style="text-align:center;">This webApp is created using Python's Flask framefwork and Bootstrap</h3>
<p style="padding:10px;margin:20px;width:45%;height:auto;font-size:130%;display:inline-block;float:left;">
  <b>Bootstrap</b> is a HTML, CSS & JS Library that focuses on simplifying the development of informative web pages (as opposed to web apps). The primary purpose of adding it to a web project is to apply Bootstrap's choices of color, size, font and layout to that project. As such, the primary factor is whether the developers in charge find those choices to their liking. Once added to a project, Bootstrap provides basic style definitions for all HTML elements. The result is a uniform appearance for prose, tables and form elements across web browsers. In addition, developers can take advantage of CSS classes defined in Bootstrap to further customize the appearance of their contents. For example, Bootstrap has provisioned for light- and dark-colored tables, page headings, more prominent pull quotes, and text with a highlight.

Bootstrap also comes with several JavaScript components in the form of jQuery plugins. They provide additional user interface elements such as dialog boxes, tooltips, and carousels. Each Bootstrap component consists of an HTML structure, CSS declarations, and in some cases accompanying JavaScript code. They also extend the functionality of some existing interface elements, including for example an auto-complete function for input fields.
</p>
<p style="padding:10px;margin:20px;width:45%;height:auto;font-size:130%;display:inline-block;float:left;">
  <b>Flask</b> is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.[2] It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions. However, Flask supports extensions that can add application features as if they were implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling, various open authentication technologies and several common framework related tools

</p>






{% endblock  %}